.build/
.DS_Store

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/*.iml
android/captures/
android/.externalNativeBuild/
android/.cxx/
*.apk
*.aab
